<div style="padding:5px; border-radius:10px;background-color:lightsalmon;">
<h1 style="text-align:center;color:black;"> Premiere partie : Cabinet médical</h1>
<h3 style="text-align:center;"> Terminale NSI</h3>
<h4 style="text-align:center;"> MB  </h4>
</div>

<h2 style="color: orange; font-style: 16px italic verdana;"> Exercice n°1 </h2>

<div class="alert alert-warning" style="border-left:5px solid #8a6d3b;">
On affiche les différentes tables de la base de données
    </div>

In [ ]:
.tables

<div class="alert alert-warning" style="border-left:5px solid #8a6d3b;">
puis on explore les tables une par une
    </div>

In [ ]:
SELECT * FROM maladie

In [ ]:
SELECT * FROM medecin

In [ ]:
SELECT...

In [ ]:
...

1. Etudier les tables et faire le schéma relationnel en précisant les clés primaires et secondaires.
https://dbdiagram.io/home

*insérer l'image du schéma ici*

2. Combien la base contient-elle de patients ? (Afficher le nombre pas la liste)

In [ ]:
SELECT COUNT(...) 
from ...

3. Afficher la liste des noms des patients.

In [ ]:
SELECT ... 
FROM ...

4.  Afficher la liste de la date et le prix des soins supérieur ou égal à 28€.

In [ ]:
SELECT ... 
FROM ... 
WHERE Prix...

5. Afficher les noms des médecins n'ayant pas de spécialité.

In [ ]:
SELECT ... 
FROM ... 
WHERE ...

<h2 style="color: orange; font-style: 16px italic verdana;">Exercice n°2 </h2>

1. Afficher la liste des noms des patients et la date de soin correspondant.

In [ ]:
SELECT ... 
FROM personne JOIN ... ON ...=...

2. Afficher les médecins que Chloé Abjean a rencontré.

In [ ]:
SELECT nommed 
FROM ... JOIN (... JOIN soin ON soin.med=...)  ON ... 
WHERE nomper=...

3. Afficher la liste des prix des soins de Marine LE PETIT

In [ ]:
SELECT ...
FROM ...
WHERE ...

4. Afficher le total des coûts précédents

In [ ]:
SELECT SUM(...)
FROM ...
WHERE ...

5. Afficher la liste des noms et dates de soin des patients du plus âgé au plus jeune.

In [ ]:
SELECT ...
FROM ...
ORDER BY ..